body {
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
    opacity: 0.9;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    max-height: 69px;
    border-bottom: 1px solid seashell;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    width: 100%;
}

#logo {
    max-height: 50px;
    margin-left: 10px;
}

ul {
    display: inline-flex;
    gap: 10px;
    list-style-type: none;
}

a  {
    color: seashell;
    
}